node_modules
bin
dist
build
archive
public
w3
.w3

# core sdk
packages/sdk/src/schema.graphql

# account resolvers
packages/resolvers/account-resolvers/resolvers/covalent/src/schema.graphql

# asset resolvers
packages/resolvers/asset-resolvers/resolvers/1inch/src/schema.graphql
packages/resolvers/asset-resolvers/resolvers/aave/src/schema.graphql
packages/resolvers/asset-resolvers/resolvers/compound/src/schema.graphql
packages/resolvers/asset-resolvers/resolvers/cream/src/schema.graphql
packages/resolvers/asset-resolvers/resolvers/curve/src/schema.graphql
packages/resolvers/asset-resolvers/resolvers/linkswap/src/schema.graphql
packages/resolvers/asset-resolvers/resolvers/sushi/src/schema.graphql
packages/resolvers/asset-resolvers/resolvers/uniswap/src/schema.graphql
packages/resolvers/asset-resolvers/resolvers/yearn/src/schema.graphql

# price resolvers
packages/resolvers/price-resolvers/resolvers/coingecko/src/schema.graphql

# protocol resolvers
packages/resolvers/protocol-resolvers/resolvers/ethereum/src/schema.graphql

# token resolvers
packages/resolvers/token-resolvers/resolvers/ethereum/src/schema.graphql

# tests app graphql
packages/resolvers/price-resolvers/resolvers/coingecko/src/__tests__/types/schema.graphql
packages/resolvers/token-resolvers/resolvers/ethereum/src/__tests__/types/schema.graphql
