format: 0.0.1-prealpha.3
displayName: {{name}}
subtext: {{name}} for Defiwrapper
description: Implements the defiwrapper {{interfaceName}} Interface
repository: https://github.com/defiwrapper/defiwrapper
icon: ./meta/imgs/defiwrapper.svg
tags:
  - defi
  - defiwrapper
links:
  - name: Defiwrapper
    icon: ./meta/imgs/defiwrapper.svg
    url: https://www.defiwrapper.com/
  - name: Polyfolio
    icon: ./meta/imgs/polyfolio.svg
    url: https://github.com/polywrap/polyfolio
  - name: Polywrap
    icon: ./meta/imgs/polywrap.svg
    url: https://polywrap.io
queries:
{{#moduleTypes}}
  {{#methods}}
  - name: {{name}}
    query: ./meta/queries/{{name}}.graphql
    vars: ./meta/queries/{{name}}.json
  {{/methods}}
{{/moduleTypes}}